body {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

h1 {
    color: #343a40;
}

.card-header {
    font-size: 1.25rem;
}

#text-area {
    font-size: 1.2rem;
}

#random-paragraph {
    font-size: 1.2rem;
    text-align: justify;
}

.match {
    background-color: #d4edda;
    color: #155724;
}

.dont-match {
    background-color: #f8d7da;
    color: #721c24;
}

#timer, #counter, #accuracy {
    font-size: 1rem;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 0;
}

footer a {
    color: #f8f9fa;
    text-decoration: underline;
}

footer a:hover {
    color: #d4edda;
}
